PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/astro-satguru
JWT_SECRET=change-me
FRONTEND_URL=http://localhost:5173
DIVINE_API_KEY=4954c6ab11dfd2f8f2087b8b5dc4d513
DIVINE_API_ACCESS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2RpdmluZWFwaS5jb20vc2lnbnVwIiwiaWF0IjoxNzgwMTI5NDMxLCJuYmYiOjE3ODAxMjk0MzEsImp0aSI6IjhzS0tGMW41bUpsNm9adU8iLCJzdWIiOiI1MTUyIiwicHJ2IjoiZTZlNjRiYjBiNjEyNmQ3M2M2Yjk3YWZjM2I0NjRkOTg1ZjQ2YzlkNyJ9.FszdbZEQFEBOFTeu7iPeCLt7tsBYPRp4TlAT2WqLorY